{% load i18n %}

{% if media.count > 0 %}
<div class="royalSlider rsDefault">
		{% for media_item in media.all %}
		<div class="gallery-slide">
			{% if media_item.media_type == "image" %}
			{% include "gallery/_gallery_image.html" with media_item=media_item crop=1 %}
			{% endif %}

			{% if media_item.media_type == "video" %}
			{% include "gallery/_gallery_video.html" with media_item=media_item %}
			{% endif %}

			{% if media_item.media_type == "file" %}
			{% include "gallery/_gallery_file.html" with media_item=media_item %}
			{% endif %}
		</div>
		{% endfor %}
</div>
{% endif %}
